/* CSS declarations go here */

.force-inline {
  display: inline-block !important;
}

.pull-right {
  float: right !important;
}

.right-inner-addon {
  position: relative;
}

.right-inner-addon input {
  padding-right: 30px;    
}

.right-inner-addon i {
  position: absolute;
  right: 0px;
  padding: 10px 12px;
  pointer-events: none;
}

.media-body {
    margin-top: 10px;
}

.circle {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}


.navbar-brand {
  font-size: x-large;
}

.navbar-nav li a {
  font-size: medium;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 80px;
    height: 80px;
    padding-top: 0;
}

.modal-header {
  text-align: center;
}

.text-centered {
  text-align: center;
}

body.modal-open{
  padding-right: 0 !important;
  overflow-y: auto;
}

.button-wrapper .btn {
    margin-bottom: 2px;
}

.gif-container div {
  margin-bottom: 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Loading screen styles */
.loading-message {
  font-size: 25px;
}

.pg-loading {
  background-color: white !important;
}

.pg-loading-logo-header {
  display: none;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 40px auto;
  /*
   * Spinner positions
   * 1 2 3
   * 4 5 6
   * 7 8 9
   */ }
.sk-cube-grid .sk-cube {
  width: 33.33%;
  height: 33.33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; }
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0.0s;
          animation-delay: 0.0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
0%, 70%, 100% {
  -webkit-transform: scale3D(1, 1, 1);
          transform: scale3D(1, 1, 1); }
35% {
  -webkit-transform: scale3D(0, 0, 1);
          transform: scale3D(0, 0, 1); } }

@keyframes sk-cubeGridScaleDelay {
0%, 70%, 100% {
  -webkit-transform: scale3D(1, 1, 1);
          transform: scale3D(1, 1, 1); }
35% {
  -webkit-transform: scale3D(0, 0, 1);
          transform: scale3D(0, 0, 1); } }

.visual-response-circle {
  width:100px;
  height:100px;
  border-radius:50px;
  background:#000;
}

.height-responsive {
    width: 100%;
    display:block;
    height: 48vh;
}

#speedComparison {
  height: 100vh;
}

.navbar-inverse {
  background-color: #0d2f66;
  border-color: #030033;
}

.brand-name {
  color: #1e2dd8;
}