/* CSS declarations go here */

.force-inline {
  display: inline-block !important;
}

.pull-right {
  float: right !important;
}

.right-inner-addon {
  position: relative;
}

.right-inner-addon input {
  padding-right: 30px;    
}

.right-inner-addon i {
  position: absolute;
  right: 0px;
  padding: 10px 12px;
  pointer-events: none;
}

.media-body {
    margin-top: 10px;
}

.circle {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.navbar-brand {
  font-size: xx-large;
}

.navbar-nav li a {
  font-size: large;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 100px;
    height: 100px;
    padding-top: 0;
}

.modal-header {
  text-align: center;
}

.text-centered {
  text-align: center;
}

body.modal-open{
  padding-right: 0 !important;
  overflow-y: auto;
}

.button-wrapper .btn {
    margin-bottom: 2px;
}

.gif-container div {
  margin-bottom: 10px;
}